<!DOCTYPE html>
<html>
<head>
<title>Our Recipes</title>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.8/vue.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.1.17/vue-resource.min.js"></script>
<link rel="stylesheet" type="text/css" href="recipes.css">
</head>
<body>

<div id="recipes">

<p class="tab">Search</p>

<input class="tab" v-model="searchText">

<select v-model="selected">
<option v-for="option in options | orderBy 'option'">
	{{option}}
</option></select>

<ul>
    <li v-for="recipe in recipes | filterBy selected in '_source.post_meta.recipe_type' | filterBy searchText in '_source.post_title'">
    <p class="title">{{recipe._source.post_title}}<span class="type">{{recipe._source.post_meta.recipe_type}}</span></p>
    <p class="ingredients">{{recipe._source.post_meta.recipe_ingredients}}</p>
    <p class="instructions">{{recipe._source.post_meta.recipe_instructions}}</p>
    </li>
    </ul>
</div>

<script src="recipes.js"></script>

</body>
</html>